@model IEnumerable<FantasyFootballManagerWebApp.Models.PlayerRankingModel>


<h1>@ViewBag.scoringType </h1>
<h1>@ViewBag.playerPosition</h1>

<p>
    <a asp-action="Standard">Standard</a>
    <a asp-action="Ppr">Ppr</a>
    <a asp-action="Dynasty">Dynasty</a>
</p>
<p>
    <a asp-action="Dynasty">All</a>
    @Html.ActionLink("QB", "Dynasty", new { playerPosition = "QB" })
    @Html.ActionLink("RB", "Dynasty", new { playerPosition = "RB" })
    @Html.ActionLink("WR", "Dynasty", new { playerPosition = "WR" })
    @Html.ActionLink("TE", "Dynasty", new { playerPosition = "TE" })
    @Html.ActionLink("DST", "Dynasty", new { playerPosition = "DST" })
    @Html.ActionLink("K", "Dynasty", new { playerPosition = "K" })
</p>