@model IEnumerable<FantasyFootballManagerWebApp.Models.PlayerRankingModel>

@{
    int itemNum = 0;
    int lastItem = Model.Count() - 1;
    string scoringType = @ViewBag.scoringType;
    string playerPosition = @ViewBag.playerPosition;
}
<h1>@ViewBag.scoringType </h1>
<h1>@ViewBag.playerPosition</h1>

<p>
    <a asp-action="Standard">Standard</a>
    <a asp-action="Ppr">Ppr</a>
    <a asp-action="Dynasty">Dynasty</a>
</p>
<p>
    <a asp-action="Dynasty">All</a>
    @Html.ActionLink("QB", "Dynasty", new { playerPosition = "QB" })
    @Html.ActionLink("RB", "Dynasty", new { playerPosition = "RB" })
    @Html.ActionLink("WR", "Dynasty", new { playerPosition = "WR" })
    @Html.ActionLink("TE", "Dynasty", new { playerPosition = "TE" })
    @Html.ActionLink("DST", "Dynasty", new { playerPosition = "DST" })
    @Html.ActionLink("K", "Dynasty", new { playerPosition = "K" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playerToRank.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.DynastyRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.DynastyPosRank)
            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.playerToRank.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.playerRanking.DynastyRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.playerToRank.PlayerPos)
                    @Html.DisplayFor(modelItem => item.playerRanking.DynastyPosRank)
                </td>



                @if (itemNum == 0 && itemNum == lastItem)
                {
                    <td></td>
                    <td></td>
                }
                @if (itemNum == 0 && itemNum < lastItem)
                {
                    <td></td>
                    <td>@Html.ActionLink("Down", "MovePlayers", new { id = item.playerRanking.PlayerRankingId, scoring = scoringType, playerPosition = playerPosition, direction = -1 })</td>
                }
                @if (itemNum > 0 && itemNum < lastItem)
                {
                    <td>@Html.ActionLink("Up", "MovePlayers", new { id = item.playerRanking.PlayerRankingId, scoring = scoringType, playerPosition = playerPosition, direction = 1 })</td>
                    <td>@Html.ActionLink("Down", "MovePlayers", new { id = item.playerRanking.PlayerRankingId, scoring = scoringType, playerPosition = playerPosition, direction = -1 })</td>
                }
                @if (itemNum > 0 && itemNum == lastItem)
                {
                    <td>@Html.ActionLink("Up", "MovePlayers", new { id = item.playerRanking.PlayerRankingId, scoring = scoringType, playerPosition = playerPosition, direction = 1 })</td>
                    <td></td>
                }

                @{
                    itemNum++;
                }


            </tr>
        }
    </tbody>
</table>
