@model IEnumerable<FantasyFootballManagerWebApp.Models.PlayerRankingModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playerToRank.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerToRank.PlayerPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PlayerRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PosRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PlayerValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PprRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PprPosRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PprValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.SflexRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.SflexValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerRanking.PlayerRiskLevel)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.playerToRank.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerToRank.PlayerPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PlayerRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PosRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PlayerValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PprRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PprPosRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PprValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.SflexRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.SflexValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerRanking.PlayerRiskLevel)
            </td>
            <td>@Html.ActionLink("Up", "MoveUp", new { id = item.playerRanking.PlayerRankingId })</td>
            <td>@Html.ActionLink("Down", "MoveDown", new { id = item.playerRanking.PlayerRankingId })</td>
        </tr>
        }
    </tbody>
</table>
